.selected-colors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2em;
}

.selected-color {
  width: 100px;
  box-shadow: 0 0 5px #000;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.selected-color .swatch {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
}

.selected-color p {
  margin: 0;
}
